* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}


header {
  background: #3366cc;
  text-align: center;
  padding: 80px 20px;
  letter-spacing: 10px;
}

nav {
  background: #b3cce6;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: .5s;
  padding: 20px 50px;
  display: block;
  letter-spacing: 10px;
}

nav a:hover {
  background: #8cb1d9;
}

.animation {
  text-align: center;
  font-size: 3.5em;
  padding: 13%;

}

.animation h1 {
  animation: intro_anim 2s;
  animation-timing-function: linear;
  opacity: 1;
}

.about {
  text-align: center;
  padding: 110px 0;
  background: #8c8cd9;
}

.about h1 {
  font-size: 3em;
  padding-bottom: 30px;
}

.flex-about {
  display: flex;
  justify-content: space-around;
}

.flex-about section {
  padding: 80px 0;
}


.sec1 {
  background: lightyellow;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}
.sec2 {
  background: lightgreen;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}
.sec3 {
  background: maroon;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}
.sec4 {
  background: lightblue;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}
.sec5 {
  background: orange;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}
.sec6 {
  background: brown;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}
.sec7 {
  background: pink;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}
.sec8 {
  background: #666;
  float: left;
  width: 25%;
  text-align: center;
  padding: 180px 0;
}


.projects section:hover {
  opacity: 1;
  transition: 1s;
}

.projects section:hover {
  opacity: 0.5;
}

fieldset {
  padding: 50px 0;
  margin: 30px ;
  font-size: 30px;
  text-align: left;
  border: none;
}

fieldset section {
  padding: 40px 0;
}

input {
  margin-left: 15px;
  height: 50px;
  width: 600px;
  font-size: 15px;
}




@media only screen and (max-width: 935px) {
  nav ul {
    flex-direction: column;
  }

  nav a {
    padding: 20px 0px;
  }

  .animation {
    font-size: 2.5em;
    padding: 17%;
  }

  .about {
    padding: 70px;
  }

  .about h1 {
    padding-bottom: 40px;
  }

  .flex-about {
    flex-direction: column;
  }

  .flex-about section {
    padding: 50px 0;
  }

  .sec1 {
    background: lightyellow;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }
  .sec2 {
    background: lightgreen;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }
  .sec3 {
    background: maroon;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }
  .sec4 {
    background: lightblue;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }
  .sec5 {
    background: orange;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }
  .sec6 {
    background: brown;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }
  .sec7 {
    background: pink;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }
  .sec8 {
    background: #666;
    float: left;
    width: 100%;
    text-align: center;
    padding: 80px 0;
  }


  fieldset {
    padding: 50px 0;
    margin: 30px ;
    font-size: 12px;
    text-align: center;
  }

  fieldset section {
    padding: 40px 0;
  }

  input {
    margin-left: 40px;
    height: 30px;
    width: 300px;
    font-size: 15px;
  }

}

@media only screen and (max-width: 320px) {

  fieldset {
    padding: 50px 0;
    margin: 30px ;
    font-size: 12px;
    text-align: center;
  }

  fieldset section {
    padding: 40px 0;
  }

  input {
    margin-left: 25px;
    height: 20px;
    width: 80px;
    font-size: 11px;
  }
}


@keyframes intro_anim {
    0% {opacity: 0;}
    25% {opacity: .2;}
    50% {opacity: .5;}
    75% {opacity: .7;}
    100% {opacity: 1;}
